* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nav-logo {
    width: 100px;
}

.nav-item {
    list-style: none;
    display: flex;
    text-decoration: none;
    margin-right: 35px;
    color: black;
}

.nav-item:hover {
    color: #81AB3D;
}

.-btn {
    border-radius: 70px;
    background: #81AB3D;
    border: none;
    padding: 8px 13px;
    color: white
    
}

.-btn:hover {
    border-radius: 70px;
    border: 1px solid #000;
    background: #FFF;
    color:black;
    transition: 1s;
}

.header-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-top: 50px;
    align-items: center;
}

.head-img {
    margin: 0px 0px -3px 0px;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 18px 35px;
    border: none;
    color: white;
    text-decoration: none;
}
.primary-btn:hover{
    background: #81AB3D;
    transition: 1s;
}

.subs-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 18px 35px;
    border: none;
    color: white;
}

.head-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.head-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}

.bonus-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
}

.bonus-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bonus-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 45px;
}

.ractangle-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.ractangle-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.three{
    width: 300px;
    margin-top: 40px;
}

.ractangle-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
}
.name{
    text-decoration: underline;
    color: black;
}
.name:hover{
    color: #E55473;
    transition: 0.8s;
}

.deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}
.deal-right {
    text-align: center;
}

.primary-text {
    color: #E55473;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.optional-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 70%;
    margin: auto;
    justify-content: space-around;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.delivary-img {}

.delivary-man {
    text-align: center;
}

.delivary-paragraph {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    align-items: center;
    margin: auto;
}

.image {
    width: 235px;
}

.instagram-title {
    color: #272727;
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.instagram-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}

.letest-container {
    border-radius: 8px;
    background: url(Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 70%;
    margin: auto;
    background-size: cover;
    padding: 25px;
    margin-bottom: 30px;
}

.input-feild {
    text-align: center;
}

.email {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 10px;
    width: 280px;
    margin-right: 10px;
}

.letest-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.letest-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.footer-container {
    background: #111010;
    text-align: center;
    padding: 30px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 800;
    margin-top: 10px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.all-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 120px;
}